:root {
  --table-border: 1px solid black;
}

body {
  width: 80%;
  margin: auto;
  box-sizing: border-box;
}

h1,
h2 {
  text-align: center;
}

table {
  width: 100%;
  text-align: center;
}

tr {
  border: var(--table-border);
  padding: 5px;
}

td,
th {
  border: var(--table-border);
}

.text-center {
  text-align: center;
}

.grid {
  display: grid;
  grid-column-gap: 50px;
  grid-template-columns: 20% 80%;
  grid-template-areas: "location-toggles map-container";
}

#map-container {
  display: grid;
  grid-area: map-container;
  grid-template-areas: "map" "search-tools";
}

#map {
  grid-area: map;
}

#location-toggles {
  max-height: 400px;
  grid-area: location-toggles;
  display: flex;
  flex-wrap: wrap;
  overflow: scroll;
}

#search-tools {
  margin: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  grid-area: search-tools;
}
