:root {
  --table-border: 1px solid black;
}

body {
  width: 90%;
  margin: auto;
  box-sizing: border-box;
}

#loader {
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  height: 100%;
  display: none;
  position: absolute;
  background: center
    url("https://i.pinimg.com/originals/3f/2c/97/3f2c979b214d06e9caab8ba8326864f3.gif")
    no-repeat;
  background-color: rgba(255, 255, 255, 0.6);
}

h1,
h2 {
  text-align: center;
}

table {
  width: 100%;
  text-align: center;
}

tr {
  border: var(--table-border);
  padding: 5px;
}

td,
th {
  border: var(--table-border);
}

.count-info-string {
  color: red;
  font-weight: bold;
}

.text-center {
  text-align: center;
}

.grid {
  display: grid;
  grid-column-gap: 50px;
  grid-template-columns: 30% 70%;
  grid-template-areas: "toggles-container map-container";
}

#map-container {
  display: grid;
  grid-area: map-container;
  grid-template-areas: "map" "search-tools";
}

#map {
  grid-area: map;
}

#toggles-container {
  max-height: 400px;
  grid-area: toggles-container;
  display: flex;
  flex-wrap: wrap;
  overflow: scroll;
}

#search-tools {
  margin: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  grid-area: search-tools;
}
